<a href="https://colab.research.google.com/github/Ajitchan/Python-Refresher/blob/main/python_refresh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables and Data types:

In [ ]:
# text types: str
# numeric types: int, float, complex
# sequence types: list, tuple, range
# Mapping type: dict
# set types: set, frozenset
# Boolean type: bool
# binary types: bytes, bytearray, memoryview

# int 0
# str 'Ajit', 'jack'
# bool True, False
# float 0.333


x = 'Ajit' 
print(x)

Ajit

# Basic operators & inputs:

In [ ]:
# Assignment operators:
x + = 3 # same as x = x + 3

# Arithmetic operators:
+
-
*
/
% # modulus
** # exponentiation
// # floor division

In [ ]:
# Input
print('What is your age?')
age = input()
print('Your age is',age,'.')

In [ ]:
# Operator
x = 122
y = 22

In [ ]:
x // y # integer division (division output as a whole number)

5

In [ ]:
x ** y # exponent

7941751154754772449337069055321507461001641984

In [ ]:
x % y # modulus

12

In [ ]:
# Simple operation
print ('number_1: ')
num1 = input()
print ('number_2: ')
num2 = input()

exponent = int(num1) ** int(num2)
print('exponent of',num1,'and',num2,'is',exponent)
print('type of exponent is',type(exponent))

number_1:
2
number_2:
12
exponent of 2 and 12 is 4096
type of exponent is <class 'int'>

# Conditions:

In [ ]:
# < , > , == , != (comparison operator)

print(18 > 20)

print('Ajit' != 'AJIT')
print('Ajit' != 'Ajit')

False
True
False

In [ ]:
# IF/ELIF/ELSE (control structure) 
# and, or, not (logical operator)
# is, is not (identiy operator)
# in, not in (membership operator)
# &, |, ^ , ~, <<, >> (Bitwise operator)
x = 1
y = -1
if x == y:
  print("It's equal")

In [ ]:
age = int(input("What's your age? "))
if age >= 20:
  print("You're an adult")
else:
  print("You're a teen")

In [ ]:
name = input("What's your name? ")
if name == 'Ajit'or name == 'AJIT':
  print('Approved user')
elif name == 'D.Ajit':
  print("Don't include initial of your name.")
else:
  print('This user is not approved.')

What's your name? raj
This user is not approved.

# Chained conditionals and Nested statements:

In [ ]:
x = 21
y = 30

In [ ]:
if not(x == y): # 'not' reverse the condition 
  print(x,y)
else:
  print('execute else')

20 30

In [ ]:
if x+y < 100:
  if x % 2 == 0:
    print('x is divisible by 2')
  else:
    print('x is not divisible by 2')
else:
  print('x is less than 100'

# FOR Loops

In [ ]:
for i in range(2,21,2): # start, stop, steps
  print(i)

2
4
6
8
10
12
14
16
18
20

# WHILE Loops

In [ ]:
while x % 2:
  print('x is',x)
  x = int(input('enter a number: '))
  if x % 2 == 0:
    print('x is an even number')
  else:
    print('x is an odd number')

x is 25
enter a number: 23
x is an odd number
x is 23
enter a number: 33
x is an odd number
x is 33
enter a number: 99
x is an odd number
x is 99
enter a number: 10004
x is an even number

In [ ]:
# using break 
run = True
while run:
  run = input('you want to? ')
  if run == 'Stop' or run == 'stop' or run =='STOP':
    print('Code chunk has been',run)
    break

# Lists and Tuples

In [ ]:
# Lists - List items are ordered, changeable, and allow duplicate values.
names = ['Ajit','Jack',2]
type(names)

list

In [ ]:
names[-1]

2

In [ ]:
names.append('don')

In [ ]:
names[2] = 3

In [ ]:
# Tuples - Tuple items are ordered, unchangeable, and allow duplicate values.

pix = ('red','blue')
print(pix)
len(pix)

('red', 'blue')

2

In [ ]:
# Create Tuple With One Item, One item tuple, remember the commma
pix = ('black',)
print(pix)
type(pix)

('black',)

tuple

In [ ]:
# Unpacking a Tuple:

# Packing a tuple:
rollno = (11,22,99,9,23)

# Unpacking a tuple:
(Ajit, shane, jack, brown, cameron) = rollno

print(shane)
print(cameron)

22
23

In [ ]:
# Unpacking a tuple with *:
(Ajit, *shane) = rollno
print(Ajit)
print(shane)

11
[22, 99, 9, 23]

# Iteration by item

In [ ]:
user  = input('Type the list: ')

Type the list: Ajit,jack

In [ ]:
for i in names:
  if i == 'Jack':
    print( i,'is there')
    break
  else:
    print('Jack is not exist')

Jack is not exist
Jack is there

In [ ]:
for i in range(len(names)):
  if names[i] == 3:
    print('3 is at index',i)
    break
  else:
    print('3 is not there at index',i)

3 is not there at index 0
3 is not there at index 1
3 is at index 2

# String methods


* lower()	Converts a string into lower case
* lstrip()	Returns a left trim version of the string
* maketrans()	Returns a translation table to be used in translations
* partition()	Returns a tuple where the string is parted into three parts
* replace()	Returns a string where a specified value is replaced with a specified value
* rfind()	Searches the string for a specified value and returns the last position of where it was found
* rindex()	Searches the string for a specified value and returns the last position of where it was found
* rjust()	Returns a right justified version of the string
* rpartition()	Returns a tuple where the string is parted into three parts
* rsplit()	Splits the string at the specified separator, and returns a list
* rstrip()	Returns a right trim version of the string
* split()	Splits the string at the specified separator, and returns a list
* splitlines()	Splits the string at line breaks and returns a list
* startswith()	Returns true if the string starts with the specified value
* strip()	Returns a trimmed version of the string
* swapcase()	Swaps cases, lower case becomes upper case and vice versa
* title()	Converts the first character of each word to upper case
* translate()	Returns a translated string
* upper()	Converts a string into upper case
* zfill()	Fills the string with a specified number of 0 values at the beginning
* capitalize()	Converts the first character to upper case
* casefold()	Converts string into lower case
* center()	Returns a centered string
* count()	Returns the number of times a specified value occurs in a string
* encode()	Returns an encoded version of the string
* endswith()	Returns true if the string ends with the specified value
* expandtabs()	Sets the tab size of the string
* find()	Searches the string for a specified value and returns the position of where it was found
* format()	Formats specified values in a string
* format_map()	Formats specified values in a string
* index()	Searches the string for a specified value and returns the position of * where it was found
* isalnum()	Returns True if all characters in the string are alphanumeric
* isalpha()	Returns True if all characters in the string are in the alphabet
* isdecimal()	Returns True if all characters in the string are decimals
* isdigit()	Returns True if all characters in the string are digits
* isidentifier()	Returns True if the string is an identifier
* islower()	Returns True if all characters in the string are lower case
* isnumeric()	Returns True if all characters in the string are numeric
* isprintable()	Returns True if all characters in the string are printable
* isspace()	Returns True if all characters in the string are whitespaces
* istitle()	Returns True if the string follows the rules of a title
* isupper()	Returns True if all characters in the string are upper case
* join()	Joins the elements of an iterable to the end of the string
* ljust()	Returns a left justified version of the string

In [ ]:
# .strip(), len(), .lower(), .upper(),  .split()

user = input('Enter the text: ')
print(user.strip())

In [ ]:
user = input('Enter the text: ')
print(user.split('_')

In [ ]:
# Multiline string
a = '''what about jacob, 
ssomething worng,
why,
don't know'''
print(a)

In [ ]:
a = 'what' # looping through string
for i in a:
  print(i)

In [ ]:
c = "What's up with that? " # check the string presence using 'in', same for 'not'
print('down' in c)

In [ ]:
 if 'down' in c:
   print('The words down in c')
 else:
   print('word abscent')

word abscent

# Modify Strings

In [ ]:
a = ' My name is Ajit '

print(a.upper())
print(a.lower())
print(a.strip())
print(a.replace("Ajit","Bond"))
print(a.split())

# String Concatenation

In [ ]:
a = 'My name is'
b = 'Ajit'
c = a + ' ' + b  # merge and add space between them
print(c)

My name is Ajit

In [ ]:
d = 26
c = c + ' ' + "and I am {}" # using '{} and .format method to insert int into string
print(c.format(d))

My name is Ajit and I am 26

In [ ]:
weight = '72kg'
height = 1.78
ethnicity = 'Indian'
statement = "My ethnicity is {2} with weight of {0} and height of {1}"
print(statement.format(weight,height,ethnicity))

My ethnicity is Indian with weight of 72kg and height of 1.78

# Escape Characters

In [ ]:
# \' = Single Quote
# \\ = Backslash
# \n = New Line
# \r = Carriage Return
# \t = Tab
# \b = Backspace
# \f = Form Feed
# \ooo = Octal value
# \xhh = Hex value

# txt = "we are the "people" of this country "

txt = "we are the \"people\" of this country"
print(txt)
txt = "we are the \\people\\ of this country"
print(txt)
txt = "we are the \"people\" of this country \nUSA"
print(txt)
txt = "we are the \"people\" of this  \rcountry"
print(txt)
txt = "we are the \"people\" of this country -> \tUSA"
print(txt)

# Slice operator

In [ ]:
user = input('Enter the text: ')
user = user.split()

Enter the text: 1 2 3 4 5 6 7 8 9 10

In [ ]:
print(user)
print(user[2:8:2]) # user[start:stop:steps]

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
['3', '5', '7']

In [ ]:
print(user[2]) 
user[2] = '3' # change the secound item
print(user)

three
['1', '2', '3', 'four', '5', '6', '7', '8', '9', '10']

In [ ]:
user.append(222) # adding value

In [ ]:
user[2:4] = ['three', 'four'] # change a range of item values

In [ ]:
print(user)
user.insert(-1, 11) # insert an item at specific list
print(user)

['1', '2', '3', 'four', '5', '6', '7', '8', '9', '10']
['1', '2', '3', 'four', '5', '6', '7', '8', '9', 11, '10']

In [ ]:
point = [0.1,0.2,0.3] 
user.extend(point) # extend list

In [ ]:
tup_user = ('t0.2','t0.3')
user.extend(tup_user) # you can add iterable objects (tuples,sets,dictionaries etc.) using '.extend' method

In [ ]:
user.remove("t0.2") # remove an item from the list

In [ ]:
user.pop(-1) # removes the specified index

't0.2'

In [ ]:
# List comprehension

user = [122,22,3,444,2,99,0.1]
rub =[]

for i in user:
  if i < 5:
    rub.append(i)

print(rub)

[3, 2, 0.1]

In [ ]:
name = ['fox_1','cnn_1','abc','nbc','fox_2','cnn_2','fox_3','cnn_3','fox_4','cnn_4']
fox = []
cnn = []
others = []

for i in name:
  if 'fox' in i:
    fox.append(i)
  elif 'cnn' in i:
    cnn.append(i)
  else:
    others.append(i)
print('Items belongs to fox are',fox)
print('Items belongs to cnn are',cnn)
print('Items belongs to others are',others)

Items belongs to fox are ['fox_1', 'fox_2', 'fox_3', 'fox_4']
Items belongs to cnn are ['cnn_1', 'cnn_2', 'cnn_3', 'cnn_4']
Items belongs to others are ['abc', 'nbc']

In [ ]:
# fox_new = [expression for item in iterable if condition == True]
fox_new = [i for i in name if 'fox' in i]
print(fox_new)

['fox_1', 'fox_2', 'fox_3', 'fox_4']

In [ ]:
# Iterable:

# i)
itera = [i for i in range(10)]
print(itera)

# ii)
for i in range(10):
  print(i)

# iii)
itera = [i for i in range(1,50) if i % 2 == 0]
print(itera)

# iv)
fox_new_u = [i.upper() for i in fox_new]
print(fox_new_u)

# v)
fox_don = ['DON' for i in fox_new_u if 'FOX' in i]
print(fox_don)

# vi)
print([i if i != 'cnn_1' else 'fake_news' for i in name]) # if i is not equal to cnn then print the item, or else print fake news

['fox_1', 'fake_news', 'abc', 'nbc', 'fox_2', 'cnn_2', 'fox_3', 'cnn_3', 'fox_4', 'cnn_4']

# Sort, Copy and Join Lists

In [ ]:
name.sort()
print(name)

In [ ]:
num = [1,343,-1]
print(num)
num.sort()
print(num)

In [ ]:
print(num)
num.sort(reverse = True)
print(num)

[-1, 1, 343]
[343, 1, -1]

In [ ]:
# Customize sort function
num = [-1, -30 , 1, 4, 100]

In [ ]:
def func(n):
  return abs(n - -100)

In [ ]:
num.sort(key= func)
print(num)

[-30, -1, 1, 4, 100]

In [ ]:
name = ['ajit','big','Big']
print(name)

['ajit', 'big', 'Big']

In [ ]:
name.sort(key= str.lower)
print(name)

['ajit', 'big', 'Big']

In [ ]:
name.sort()
print(name)

['Big', 'ajit', 'big']

In [ ]:
# copy a list
name_cop = name.copy()
print (name_cop)

['Big', 'ajit', 'big']

In [ ]:
# Join Lists
name_num = name + num
print(name_num)

['Big', 'ajit', 'big', -30, -1, 1, 4, 100]

In [ ]:
# we can also use .append() or .extend()

for i in num:
  name_cop.append(i)

print(name_cop)

['Big', 'ajit', 'big', -30, -1, 1, 4, 100]

In [ ]:
name_cop.extend(num)
print(name_cop)

['Big', 'ajit', 'big', -30, -1, 1, 4, 100, -30, -1, 1, 4, 100]

# Functions

In [ ]:
def repeat(x, y):
  for i in range(0,x):
    print(y)

In [ ]:
repeat(4, 'hello')

hello
hello
hello
hello

In [ ]:
import math as mat
import numpy as np